Hello {{ recipient_name }},

You received email with subject:
{{ subject }}
from
{{ sender_name }}.

Email shourtcut:
{{ open_ai_response }}

Thank you for using our aplication.

Best regards,
{{ dev_name }}
